html, body {
  margin:0;
  height: 100vh;
}

body {
  background: black;
  display: flex;
  justify-content: center;
  align-items: center;
}


#demo-select {
 position: absolute;
 top: 10px;
 left: 10px;
}